.App {
  text-align: center;
  
}

.bodyContent {
  display: flex;
}

.body {
  background-image: url(tile_background.png);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  border: 20px;
  border-radius: 10px;
  color: white;
  }

#quote {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0;
}

.picture {
  max-width: 400px;
  border-radius: 5px;
  border: 3px;
  border-style: solid;
  margin: 100px; 
  border-color:white;
  object-fit: contain;
  width: 100%;
  height: 100%;
  height: auto;
  margin-top: 50px;
}

#demo {
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-bottom: 0;
}

.ListGroup {
  width: 250px;
  height: 200px;
  font-size: 15px;
}

.hr-text {
	height: 10px;
	border: 0;
  width: 1200px;
  box-shadow: 0 10px 10px -10px white inset;
}

.accordion {
  max-width: 300px;
}

.ListGroupContents {
  margin-top: 250px;
}